* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
body {
    background-color: rgb(55, 55, 55);

}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;

}
main {
    position: relative;
    height: 100vh

}
p {
    font-family: 'Roboto', sans-serif;
}
.audio-player {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.audio-player__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(208, 208, 208, 0.35);
    position: relative;
    z-index: 20;
}
.audio-player__pic img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.song-name {
    margin-top: 15px;
    margin-bottom: 15px;
}
.song-name p {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
}
.song-name p:nth-child(1) {
    font-size: 18px;
    margin-bottom: 10px;
}
.song-name p:nth-child(2) {
    font-weight: 600;
}
.progress-audio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;

}
.progress-audio p {
    font-size: 12px;
}

.progress-audio__bar {
    position: relative;
    margin: 0px 10px 0px 10px;
    width: 70%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255 255 255 / 50%);
    transition: 0.1s linear;
    overflow: hidden;
}
.progress-audio__bar div {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 0%;
    height: 13px;
    background-color: rgb(90, 90, 90);
    transition: 0.1s linear;
}
.progress-audio:hover .progress-audio__bar {
    height: 10px;
    transform: scaleY(1.3);
}
.progress-audio:hover .progress-audio__bar > div {
    transform: scaleY(1.1);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin-bottom: 15px;
}



.buttons-prev,
.buttons-next,
.buttons-play {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: 0.1s linear;
    opacity: 0.8;
}
.buttons-prev:hover,
.buttons-next:hover,
.buttons-play:hover {
    opacity: 1;
    transform: scale(1.1)
}
.buttons-prev:active,
.buttons-next:active,
.buttons-play:active {
    transform: scale(1);
}
.buttons-prev {
    width: 35px;
    height: 35px;
    background-image: url("../img/svg/prev.svg");
    background-size: 100%;
    cursor: pointer;
}
.buttons-play {
    width: 50px;
    height: 50px;
    background-image: url("../img/svg/play.svg");
}
.active-song {
    background-image: url("../img/svg/pause.svg");

}
.buttons-next {
    width: 35px;
    height: 35px;
    background-image: url("../img/svg/next.svg");
    background-size: 100%;
    cursor: pointer;
}





.audio-player__bg img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
    filter: blur(7px);
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 10px 50px
}
.footer__item:nth-child(1) a svg,
.footer__item:nth-child(3) a svg {
    fill: #FFF;
    height: auto;
    transition: 0.1s linear;
}
.footer__item:nth-child(1) a svg {
    width: 60px;
}
.footer__item:nth-child(3) a svg {
    width: 80px;
}
.footer__item:nth-child(1) a svg:hover,
.footer__item:nth-child(3) a svg:hover {
    opacity: 0.7;
    transform: scale(1.1);
}
.footer__item:nth-child(2) p {
    font-size: 15px;
    line-height: 110%;
    color: white;
    font-weight: 900;
    letter-spacing: 5px;
    margin-left: 20px;
}

